.main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:auto;
    height:400px;
    width:300px;
    background-color: antiquewhite;
    border: 2px solid black;
    border-radius: 5px;
    
}
.info{
   background-color: antiquewhite;
   display: flex;
   flex-direction: column;
}
#user{
margin-bottom: 10px;
}
.footer{
    display: flex;
    flex-direction: column;
}
.footer>button{
    margin-bottom: 10px;
    border: 2px solid black;
    border-radius:20px;
   font-size: small;
}
.btn1{
    background-color: black;
    color: white;
}